:root{
  --primary-bg-color: #ececd2;
  --store-bg-color: #f4f4f4;
  --card-bg-color: #e3e1e1;
  --navbar-bg-color: #1A120B;

  --card-width: 33rem;
  --card-height: 15rem;
}

body {
  margin: 0;
  font-family: 'Raleway', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg-color);
}

.navbar {
  display: flex;
  padding: 1.5% 10%;
  background-color: var(--navbar-bg-color);
  color: white;
}

.title{
  font-size: 2rem;
  color: white;
  margin-top: 1%;
}

.title-image{
  height:3rem;
  width: 13rem;
}

/* links in navbar: Home Store Cart */
.links{
  display: flex;
  margin: 2% 5% 0 auto;
  justify-content: space-between;
  font-size: larger;
}
.links > a{
  margin: 0 10%;
  color: white;
}

a:link{
  /* removes underline from hyperlinks */
  text-decoration: none;
}
a:hover{
  color: var(--card-bg-color);
}

/* applies to every component except navbar */
.side-padding{
  padding: 0 10%;
  text-align: center;
}

/* Shop-now button on Home page */
.shop-now-btn{
  border-radius: 10%;
  background-color: var(--navbar-bg-color);
  color: white;
  font-size: large;
  width: 6.5em;
  height: 2.5em;
}
.shop-now-btn:hover{
  background-color:#ececd2;
  color: var(--navbar-bg-color);
  transition: 0.3s;
  cursor: pointer;
}


.store-item-card{
  display: flex;
  width: var(--card-width);
  height: var(--card-height);
  background-color: var(--card-bg-color);
  margin: 2% 0;
}

/* set qty of items in store */
.add-item{
  height: 20px;
  width: 40px;
}


/* images of laptops in store and cart */
.laptop-image{
  max-width: 19em;
  min-width: 19em;
  max-height: 15em;
  min-height: 15em;
}

/* main displayer of laptop cards */
.items-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5% 2%;
  gap: 5%;
}

.store-container{
  display: flex;
  flex-wrap: wrap;
  padding: 5% 2%;
  gap: 5%;
  background-color: var(--store-bg-color);
  background-color: ;
}

/* for store */
.item-info{
  text-align: center;
  width: 100%;
  font-size: larger;
}
.item-info > div{
  margin: 10% 0;
}

/* for cart */
.item-card-info{
  text-align: center;
  width: 100%;
  font-size: larger;
}
.item-card-info > div{
  margin: 7% 0;
}

.add-to-cart-btn{
  background-color: var(--navbar-bg-color);
  color: white;
  height: 25px;
}
.add-to-cart-btn:hover{
  scale: 1.02;
  cursor: pointer;
}

.cart-card{
  display: flex;
  flex-direction: column;
  width: var(--card-width);
  height: var(--card-height);
  background-color: var(--card-bg-color);
  margin: 2% 0;
}
.cart-card > div{
  display: flex;
}

.side-by-side{
  display: flex;
  background-color: var(--store-bg-color);
  padding: 3% 0;
}

.cart-info{
  border: solid green;
  border-radius: 1em;
  height: 10rem;
  padding: 2%;
  margin-top: 2%;
  width: 90%;
  text-align: left;
  margin-right: 5%;
  font-size: larger;
}

.checkout-btn{
  border-radius: 10%;
  background-color:green;
  color: white;
  font-size: large;
  width: 5em;
  height: 1.5em;
  margin-top: 15%;
}
.checkout-btn:hover{
  background-color: var(--store-bg-color);
  color: green;
  transition: 0.2s;
  cursor: pointer;
}

/* home laptop image */
.home-img{
  width: 28vw;
  height: 25vw;
  scale: 1.3;
}
